* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  background-color: rgb(200, 165, 233);
}

/* Styles for devices with screen width less than or equal to 768px (e.g., smartphones) */
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}

/* Styles for devices with screen width between 769px and 992px (e.g., tablets) */
@media (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 15px;
  }
}

/* Styles for devices with screen width greater than 992px (e.g., desktops) */
@media (min-width: 993px) {
  body {
    font-size: 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #FFF;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  height: 70px;
}

.header--image {
  height: 100%;
  margin-right: 10px;
}

.header--title {
  font-size: 1.55rem;
}

main {
  padding: 36px;
}

.form {
  max-width: 100%;
  display: grid;
  grid-template: 50px 50px 60px/ 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 10px;
  font-size: 18px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.meme--image {
  max-width: 90%;
  border-radius: 6px;
  width: 500px;
  height: 400px;
}

.meme--text {
  position: absolute;
  max-width: 35%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  font-family: 'karla', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #FFF;
  background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
  height: 70px;
}

.footer--title {
  font-size: 1.55rem;
}

.footer--link:link, .footer--link:visited {
  color: white;
  text-decoration: none;
}

.footer--link:hover, .footer--link:active {
  text-decoration: underline;
}
